@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100&display=swap');

:root{
    --corA: #802219;
    --corB: #FF8A80;
    --corC: #FF4432;
    --corD: #804540;
    --corE: #CC3629;
    
    --font01: 'Bebas Neue', cursive;
    --font02: 'Lobster', cursive;
    --font03: 'Montserrat', sans-serif;
    --fontTexto: Arial, Helvetica, sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--corA);
}

header{
    background-image: linear-gradient(to bottom, var(--corC), var(--corA));
    height: 150px;
}

header > h1{
    color: white;
    font-family: var(--font02);
    text-align: center;
    font-size: 3em;
    padding-top: 20px;
    text-shadow: 1px 1px 2px black;
   
}
header > p{
    padding: 15px;
    color: white;
    text-align: center;
    font-family: monospace;
    text-shadow: 1px 1px 2px black;
}
nav{
    background-color: var(--corA);
    font-family: var(--font01);
    font-size: 1.8em;
    text-align: center;
}
nav > a{
   margin: 10px;
   
   color: var(--corB);
   text-decoration: none;
}

nav > a:hover{
    background-color: var(--corB);
    color: var(--corA);
    padding: 5px;
    border-radius: 3px;
}

main{
    background-color: white;
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    padding-bottom: 90px;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.486);
}

main > h1{
    font-family: var(--fontTexto);
    color: var(--corA);
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
}

main > h2{
    padding-left: 10px;
    margin-bottom: 15px;
    color: white;
    font-family: var(--fontTexto);
    background-image: linear-gradient(to right, var(--corA), #ff433200);
}

main > p{
    text-indent: 30px;
    font-size: 1.2em;
    text-align: justify;
    line-height: 2em;
    font-family: var(--fontTexto);
    padding-bottom: 20px;
}

div#video{
   background-color: var(--corD);
   margin-left: -20px;
   margin-right: -20px;
   padding-bottom: 59%;
   position: relative;
}

div#video > iframe{
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
}

strong{
    color: var(--corA);
}
footer{
    padding: 30px;
    background-color: var(--corD);
    color: white;
    text-align: center; 
    font-size: 0.8em;
}

footer > p{
    color: var(--corC);
}

footer .nome{
    color: #804540;
}